﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Staff
@model TruckWash.Models.Staff


@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>@StaffCreateText.Createanewstaffmember</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        @StaffCreateText.staff
                        </a>
                    </h4>
                </div>

                <div class="panel-body">

                    <div class="form-group">
                        @Html.Label(StaffCreateText.FirstName, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(StaffCreateText.LastName, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(StaffCreateText.Jobtitel, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.DropDownList("JobTitel", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.JobTitel, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(StaffCreateText.StaffNumber, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.StafNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StafNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>


            </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3">@StaffCreateText.Save</button>
                            <a href="@Url.Action("SubIndex", "Staffs")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@StaffCreateText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
     
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
