﻿@using TruckWash.Resources.Staff
@model TruckWash.Models.Staff

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
@Html.Label(StaffDeleteText.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.Label(StaffDeleteText.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.Label(StaffDeleteText.Jobtitel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitel)
        </dd>

        <dt>
            @Html.Label(StaffDeleteText.StaffNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StafNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="StaffDeleteText.Delete" class="btn btn-danger" /> |
           @Html.ActionLink("Back to sub index", "SubIndex", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
