﻿@using TruckWash.Resources.Staff
@model TruckWash.Models.QrCodes

@{
    ViewBag.Title = "Details";
    var base64 = Convert.ToBase64String(Model.QrCode);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="text-center">
                    @*<img src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" class="img-responsive" alt="">*@
                    <img src="@imgSrc" />
               <p>                   
                    
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">

                        @Html.HiddenFor(id => id.IdQrCode)
                        @Html.DisplayFor(model => model.Staff.FirstName) @Html.DisplayFor(model => model.Staff.LastName)
                    </div>
                    <div class="profile-usertitle-job">
                        @Html.DisplayFor(model => model.Staff.JobTitel)
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                @StaffDetailsText.Overview
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Staffs",new { id = Model.StaffID })">
                                <i class="glyphicon glyphicon-edit"></i>
                              @StaffDetailsText.Update
                            </a>
                        </li>
                        <li>
                        <li>
                            <a href="@Url.Action("PasswordEditor","Staffs",new { id = Model.IdQrCode })">
                                <i class="glyphicon glyphicon-edit"></i>
                               @StaffDetailsText.ChangePassword
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("QrToPdf", "QrCodes", new { id = Model.IdQrCode }, null)">
                                <i class="glyphicon glyphicon-download"></i>
                                @StaffDetailsText.Downloadqrcode

                            </a>
                        </li>
                        <li>
                            <a onclick="ActiveEnDeActive();" id="confirmed" href="@Url.Action("ActiveAndDeActive","Staffs",new { id = Model.Staff.IdStaff })">
                                <i class="glyphicon glyphicon-trash"></i>
                                @ViewBag.Message
                             @*VS   Ge ga hier zo een if lus kunnen schrijven -> hardcoded geef die of die text endan kan je die wel vertalen :-)
                                zet de hardcoded text boven in de view in de {} 2 x string ... = "Active" "deactive"*@
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("Subindex","Staffs")">
                                <i class="fa fa-list"></i>
                                @StaffDetailsText.Return
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 j">
            <div class="profile-content">
                <div class="dl-horizontal ">

                    <fieldset class="fsStyle">



                        <legend class="legendStyle">
                           @StaffDetailsText.PersonalInfo @Html.DisplayFor(model => model.Staff.FirstName)
                        </legend>

                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.Staff.IdStaff)


                            <dt>
                                @Html.DisplayName(@StaffDetailsText.Firstname):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Staff.FirstName)
                            </dd>
                            <dt>
                                @Html.DisplayName(@StaffDetailsText.Lastname):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Staff.LastName)
                            </dd>
                            <dt>
                                @Html.DisplayName(@StaffDetailsText.Staffnumber):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Staff.StafNumber)
                            </dd>
                            <dt>
                                @Html.DisplayName(@StaffDetailsText.Jobtitel):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Staff.JobTitel)
                            </dd>
                            <dt>
                                @Html.DisplayName(@StaffDetailsText.Isactive):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Staff.IsActive)
                            </dd>
                          
                        </dl>
                 
                    </fieldset>
           
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/AlertMessagesJS.js"></script>