﻿@using TruckWash.Resources.Staff
@model IEnumerable<TruckWash.Models.Staff>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <a href="@Url.Action("SubIndex", "Staffs")" class="btn btn-primary col-md-3 backButtonList">
        <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
    </a>

    <table class="table">
        <tr>
            <th>
                @Html.Label(StaffListText.FirstName)
            </th>
            <th>
                @Html.Label(StaffListText.LastName)
            </th>
            <th>
                @Html.Label(StaffListText.Jobtitel)
            </th>
            <th>
                @Html.Label(StaffListText.StaffNumber)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StafNumber)
                </td>

            </tr>
        }

    </table>
</div>