﻿@using TruckWash.Resources.Staff
@model TruckWash.Models.QrCodes

@{
    ViewBag.Title = "PasswordEditor";
}





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.StaffID)
    @Html.HiddenFor(model => model.QrCode)
    <div class="form-horizontal container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        @StaffPasswordEditorText.Changeyourpassword
                    </a>
                </h4>
            </div>

            <div class="panel-body">

                @Html.HiddenFor(model => model.IdQrCode)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*<div class="form-group">
                    <div class="control-label col-md-3">  @Html.Label(StaffPasswordEditorText.FirstName) </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Staff.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Staff.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    <div class="control-label col-md-3">  @Html.Label(StaffPasswordEditorText.LastName) </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Staff.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Staff.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @*<div class="form-group">
                    <div class="control-label col-md-3">  @Html.Label(StaffPasswordEditorText.Jobtitel) </div>
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Staff.JobTitel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Staff.JobTitel, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    <div class="control-label col-md-3">  @Html.Label(StaffPasswordEditorText.NewPassword) </div>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type="password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-8">
                            <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3">@StaffPasswordEditorText.Save</button>
                            <a href="@Url.Action("SubIndex", "Staffs")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@StaffPasswordEditorText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
