﻿@using TruckWash.Resources.Staff
@model IEnumerable<TruckWash.Models.Staff>
@{
    ViewBag.Title = "SearchListStaff";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


<div id="staff">
    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @Html.Label(StaffSearchListText.SortByName)
            
        </button>
        <a href="@Url.Action("SubIndex","Staffs")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i>  @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list">

                @foreach (var item in Model)
            {

                    <a href="@Url.Action("Details", "Staffs", new {id = item.IdStaff})">
                        <div class="col-md-12">
                            <div class="thumbnail">

                                <li>
                                    <h3 class="name">@item.FirstName  @item.LastName</h3>
                                    <p class="jobtitel">@StaffSearchListText.Jobtitel @item.JobTitel</p>
                                    <p class="staffnumber">@StaffSearchListText.Staffnumber @item.StafNumber</p>
                                </li>

                            </div>
                        </div>
                    </a>

                }

            </ul>
        </div>
    </div>
</div>




<script src="http://listjs.com/no-cdn/list.js"></script>
