﻿@using TruckWash.Resources.Staff
@model IEnumerable<TruckWash.Models.Staff>

@{
    ViewBag.Title = "SubIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="row">

        <div class="col-sm-4">
            <a href="~/Staffs/Create">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-plus-circle fa-5x"></i>
                    <p>@StaffSubIndexText.Addastaffmember</p>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="~/Staffs/List">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-group fa-5x"></i>
                    <p>@StaffSubIndexText.Showallstaffmembers</p>
                </div>
            </a>
        </div>

        <div class="col-sm-4"></div>



        <div class="col-sm-4">
            <a href="~/Staffs/ActiveSearchList">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-group fa-5x"></i>
                    <i class="fa fa-search fa-5x"></i>
                    <p>@StaffSubIndexText.Activesearchastaffmember</p>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="~/Staffs/DeactiveSearchList">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-group fa-5x"></i>
                    <i class="fa fa-search fa-5x"></i>
                    <p>@StaffSubIndexText.Deactivesearchastaffmember</p>
                </div>
            </a>
        </div>            
    </div>
</div>


