﻿@using TruckWash.Resources.Home
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="use-sidebar sidebar-at-right" id="main">


        <div id="content" class="col-md-9 container-fluid text-center">
            <div class="row">

                <div class="col-sm-6">
                    <a class="a" href="~/WashTurns/SubIndex">
                        <div class="thumbnail">
                            <i class="fa fa-star-o fa-5x"></i>
                            <p>@Html.Label(HomeText.WashTurn)</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="~/Vehicles/SubIndex">
                        <div class="thumbnail">
                            <i class="fa fa-car fa-5x"></i>
                            <p>@Html.Label(HomeText.Vehicle)</p>
                        </div>
                    </a>
                </div>




                <div class="col-sm-6">
                    <a href="~/Customer/SubIndex">
                        <div class="thumbnail">
                            <i class="fa fa-user fa-5x"></i>
                            <p>@Html.Label(HomeText.Customer)</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-6">
                    <a href="~/Invoices/SubIndex">
                        <div class="thumbnail">
                            <i class="fa fa-euro fa-5x"></i>
                            <p>@Html.Label(HomeText.Invoice)</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="~/OurCompany/SubIndex">
                        <div class="thumbnail">
                            <i class="fa fa-home fa-5x"></i>
                            <p>@Html.Label(HomeText.OurCompany)</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6">
            <a href="~/WashHallOperator/SubIndex">
                <div class="thumbnail">
                    <i class="fa fa-truck fa-5x"></i>
                    <p>@Html.Label(HomeText.WashHall)</p>
                </div>
            </a>
        </div>

            </div>

        </div>

        <div id="sidebar" class="col-md-3">

            <div id="right_panel" class="profile-sidebar row">

                <div class="profile-Indexpic">
                    <img src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" class="img-responsive" alt="">
                    <hr/>
                    <a href="~/Staffs/details/@ViewBag.StaffId"><h2 class="text-center">@ViewBag.StaffName</h2></a>
                    <h3 class="text-center">@ViewBag.StaffNumber</h3>
                    <hr/>
                    <br/>
                    <h5 style="padding-left: 15px;"><strong>@HomeText.Lastworklocation:</strong><span>@ViewBag.Lastworklocation</span></h5>
                    <h5 style="padding-left: 15px;"><strong>@HomeText.Lastworkdate:</strong><span>@ViewBag.Lastworkdate</span></h5>
                    <br/><br/>
                    <hr/>

                    <footer class="text-center">
                         
                        <img src="~/App_Images/vuylsteke.PNG" />
                    </footer>



                </div>




            </div>

        </div>


        <div class="container-fluid ">

            <i id="separator" class="row text-center fa fa-2x fa-caret-right"></i>
        </div>

        <div class="clearer">&nbsp;</div>

    </div>



<script src="~/scripts/jquery.cookie.js"></script>
<script src="~/scripts/IndexSideBar.js"></script>


