﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Error
@{
    ViewBag.Title = "ErrorStaffNotActive";
    Layout = "~/Views/Shared/_ErrorPage.cshtml";
}

<h2 class="text-center">@ErrorStaffNotActiveText.ErrorStaffNotActive</h2>

<div class="container" style="background-color:white; color:grey;">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2 ">
            <img src="..\App_Images\tango_face_sad.svg" style="width:304px;height:228px;">
        </div>
        <div class="col-sm-6 col-md-4">
            <div> @ErrorStaffNotActiveText.CanNotLogInBecause: </div>
            <div>@ErrorStaffNotActiveText.ThisStaffmemberIsNotActive. </div>
            <br />
            <div>@ErrorStaffNotActiveText.PleaseTryTheFollowing: </div>
            <br />
            <ol>
                <li>@ErrorStaffNotActiveText.CheckIfTheStaffIsActiveAskYourAdministrator)<li>
                <li>@ErrorStaffNotActiveText.CheckYourBrowser</li>
                <li>@ErrorStaffNotActiveText.ContactTheAdministrator</li>
                <li>@ErrorStaffNotActiveText.UseYourBrowsersButtonToReturnToPreviousPage.</li>
            </ol>



        </div>

    </div>
</div>