﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Error
@{
    ViewBag.Title = "ErrorNotActive";
    Layout = "~/Views/Shared/_ErrorPage.cshtml";
}

<h2 class="text-center">ErrorNotActive</h2>

<div class="container" style="background-color:white; color:grey;">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2 ">
            <img src="..\App_Images\tango_face_sad.svg" style="width:304px;height:228px;">
        </div>
        <div class="col-sm-6 col-md-4">

            <div>@ErrorNotActiveText.ThisCustomerIsNotActive. </div>
            <br />
            <div>@ErrorNotActiveText.PleaseTryAgainLaterOrTryTheFollowing: </div>
            <br />
            <ol>
                <li>@ErrorNotActiveText.CheckIfTheCustomerIsActive</li>
                <li>@ErrorNotActiveText.CheckYourBrowser</li>
                <li>@ErrorNotActiveText.ContactTheAdministrator</li>                
                <li>@ErrorNotActiveText.UseYourBrowsersButtonToReturnToPreviousPage.</li>
            </ol>



        </div>

    </div>
</div>
