﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Error

@{
    ViewBag.Title = "ErrorLoadingPage";
    Layout = "~/Views/Shared/_ErrorPage.cshtml";
}


<h2 class="text-center">ErrorLoadingPage</h2>

<div class="container" style="background-color:white; color:grey;">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2 ">
            <img src="..\App_Images\tango_face_sad.svg" style="width:304px;height:228px;">
        </div>
        <div class="col-sm-6 col-md-4">

            <div>@ErrorLoadingPageText.CouldNotLoadPage. </div>
            <br />
            <div>@ErrorLoadingPageText.PleaseTryAgainLaterOrTryTheFollowing: </div>
            <br />
            <ol>
                <li>@ErrorLoadingPageText.CheckYourBrowser</li>
                <li>@ErrorLoadingPageText.ContactTheAdministrator</li>
                <li>@ErrorLoadingPageText.UseYourBrowsersButtonToReturnToPreviousPage.</li>
            </ol>



        </div>

    </div>
</div>






