﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Error
@{
    ViewBag.Title = "ErrorDaysToLess";
    Layout = "~/Views/Shared/_ErrorPage.cshtml";
}

<h2 class="text-center">@ErrorDaysToLessText.ErrorDaysToLess</h2>

<div class="container" style="background-color:white; color:grey;">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2 ">
            <img src="..\App_Images\tango_face_sad.svg" style="width:304px;height:228px;">
        </div>
        <div class="col-sm-6 col-md-4">

            <div>@ErrorDaysToLessText.LimitOfDaysHasBeenReached </div>
            <br />
            <div>@ErrorDaysToLessText.PleaseTryAgainLaterOrTryTheFollowing: </div>
            <br />
            <ol>
                <li>@ErrorDaysToLessText.CheckWhenWasYourLastVisit</li>
                <li>@ErrorDaysToLessText.CheckYourBrowser</li>
                <li>@ErrorDaysToLessText.ContactTheAdministrator</li>
                <li>@ErrorDaysToLessText.UseYourBrowsersButtonToReturnToPreviousPage.</li>
            </ol>



        </div>

    </div>
</div>
