﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Error

@{
    ViewBag.Title = "PageNotFound";
   Layout = "~/Views/Shared/_ErrorPage.cshtml";
}




<h2 class="text-center">@PageNotFoundText.PageNotFound</h2>

<div class="container" style="background-color:white; color:grey;">
    <div class="row"> 
        <div class="col-sm-6 col-md-4 col-md-offset-2 ">
            <img src="..\App_Images\tango_face_sad.svg" style="width:304px;height:228px;">
        </div>
        <div class="col-sm-6 col-md-4">

            <div>@PageNotFoundText.PageWasNotFoundTheFollowingPageMayBeTemporarilyUnavailableMovedOrTakenOff. </div>
            <br />
            <div>@PageNotFoundText.PleaseTryAgainLaterOrTryTheFollowing: </div>
            <br />
            <ol>
                <li>@PageNotFoundText.CheckYourBrowser</li>
                <li>@PageNotFoundText.ContactTheAdministrator</li>
                <li>@PageNotFoundText.UseYourBrowsersButtonToReturnToPreviousPage.</li>
            </ol>
              


        </div>

        </div>
</div>






