﻿@using TruckWash.Resources.WashHall
@model TruckWash.Models.WashTurn

<dl class="dl-horizontal">




    <dt>
       @Html.DisplayName(WashhallDetailText.CompanyName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Vehicle.Customer.CompanyName)
    </dd>

    <dt>
        @Html.DisplayName(WashhallDetailText.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Vehicle.Customer.LastName)
    </dd>

    <dt>
        @Html.DisplayName(WashhallDetailText.LicensePlate)

    <dd>
        @Html.DisplayFor(model => model.Vehicle.LicensePlate)
    </dd>

    <dt>
        @Html.DisplayName(WashhallDetailText.WashTypeName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.WashType.WashTypeName)
    </dd>

    <dt>
        @Html.DisplayName(WashhallDetailText.WashTypeExtraName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.WashTypeExtra.WashtypeExtraName)
    </dd>

    <dt>
        @Html.DisplayName(WashhallDetailText.Remark)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Remark)
    </dd>

    <dt>
       @Html.DisplayName(WashhallDetailText.WaitTime)

    <dd>
        @Html.DisplayFor(model => model.WaitTime)
    </dd>

    <dt>
        @Html.DisplayName(WashhallDetailText.StartTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.StartTime)
    </dd>

    <div class="panel panel-success">
        <div class="panel-heading">@WashhallDetailText.WashturnStarted</div>
        <div class="panel-body">
            @WashhallDetailText.PanelText
        </div>
    </div>


</dl>
