﻿@using TruckWash.Controllers
@using TruckWash.Resources.Login

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -TruckWash</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Mystyle.css" rel="stylesheet" />
    <link href="~/Content/flags.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="//code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>






</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand" href="~/Login/Login">TruckWash</a>



            </div>
            <lu>
         
            </lu>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse">
                
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["Login"] != null)
                    {
                        <li><a href="@Url.Action("LogOut","Login")">@Html.Label("LogOut") <span> <i class="fa fa-sign-out"></i></span></a></li>
                    }

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Html.Label(LoginText.Languages) <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action( "Change","Language", new {LanguageAbbrevation = "en"}, null)"><img src="~/Content/images/blank.gif" class="flag flag-gb" alt="greatbritain" />  English</a></li>
                            <li><a href="@Url.Action( "Change","Language", new {LanguageAbbrevation = "fr"}, null)"><img src="~/Content/images/blank.gif" class="flag flag-fr" alt="france" />   Francais</a></li>
                            <li><a href="@Url.Action( "Change","Language", new {LanguageAbbrevation = "nl"}, null)"><img src="~/Content/images/blank.gif" class="flag flag-be" alt="belgium" />  Nederlands</a></li>

                        </ul>

                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



    <div class="body-content">
        @RenderBody()
    </div>



    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year  - TruckWash op Maat</p>
    </footer>



    <script src="~/scripts/ListSearch.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/PostalCodesAutoComplete.js"></script>

</body>
</html>