﻿@using System.Drawing;
@using System.Text;
@model TruckWash.Models.QrCodes

@{
    ViewBag.Title = "Details";

  var base64 = Convert.ToBase64String(Model.QrCode);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<h2>Details</h2>

<div>
    <h4>QrCodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QrCode)
        </dt>

        <dd>   
            <img src="@imgSrc" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.LicensePlate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.IdQrCode}) |
    @Html.ActionLink("PDF","QrToPdf", new { id = Model.IdQrCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
