﻿@using System.Drawing;
@model TruckWash.Models.QrCodes

@{
    ViewBag.Title = "camreader";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


    <h2>TEST</h2>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <button id="Go" onchange="setInterval()">Go</button>
    <button id="Interval" onchange="Interval()">interval</button>

<textarea id="text" name="text"></textarea>

    <--> Button Interval neemt iedere second 100fotos. -> opvangen in het model --> Button in form start methode met een bitmap -> kan naar de decoder gaan </-->



<form id="aa">
    item.QrCode = canvas 
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Log in
    </button>

    @Html.ActionLink("End Washturn", "CreateInvoiceToDetails", "Invoices", new { id = Model.QrCode }, new { @class = "btn btn-danger btn-lg btn-block" })
</form>

    <script src="~/scripts/camread.js"></script>

