﻿@using System.Drawing;
@using System.Text;
@model TruckWash.Models.QrCodes

@{
    Layout = null;

    var base64 = Convert.ToBase64String(Model.QrCode);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>View</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">
            <div class="col-sm-4">
                <img style="width:290px; height:290px;" src="@imgSrc"/>
            </div>
        </div>
        <div class="row" style="color: black; padding-top: 14px;">
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6">

                <div style="font-weight:bold; font-size: 19px;">Voornaam : </div>
                <p style="font-size: 17px;">@Model.Staff.FirstName.ToUpper()</p>
                <p style="font-weight:bold; font-size: 19px;">Achternaam : </p>
                <p style="font-size: 17px;">@Model.Staff.LastName.ToUpper()</p>

                <p style="font-weight:bold; font-size: 19px;">Username : </p>
                <p style="font-size: 17px;">@Model.Staff.FirstName@Model.Staff.StafNumber.ToString().ToUpper()</p>

                <p style="font-weight:bold; font-size: 19px;">Functie :</p>
                <p style="font-size: 17px;">@Model.Staff.JobTitel.ToUpper()</p>
            </div>
        </div>
    </div>
</body>
</html>
