﻿@model IEnumerable<TruckWash.Models.QrCodes>

@{
    ViewBag.Title = "Index";
    var imgSrc = "";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QrCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </th>

        <th></th>
    </tr>
 
@foreach (var item in Model)
{

    if (item.QrCode != null)
{
        var base64 = Convert.ToBase64String(item.QrCode);
        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}
    <tr>        
        <td>                     
                <img src="@imgSrc" alt="no picture" width="75" height="75">
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Staff.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdQrCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdQrCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdQrCode })
        </td>
    </tr>
}

</table>
