﻿@model TruckWash.Models.Invoice
@using TruckWash.Resources.Invoice
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h2>@InvoiceTextDetails.Invoice</h2><h3 class="text-right">@InvoiceTextDetails.InvoiceNR: @Model.InvoiceNR</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <img src="~/App_Images/truckwashopmaat.jpg" />
                            <h4 style="color: black;">@Model.LoginLog.Location.CompanyName</h4>
                            <p>@Model.LoginLog.Location.BtwNumber</p>
                            <p>@Model.LoginLog.Location.Address.Street @Model.LoginLog.Location.Address.HouseNumber @Model.LoginLog.Location.Address.NumberExtension  </p>
                            <p>@Model.LoginLog.Location.Address.PostalCode @Model.LoginLog.Location.Address.City</p>
                            <p>@Model.LoginLog.Location.Email</p>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>@InvoiceTextDetails.BilledTo</strong><br>
                            <p>@Model.WashTurn.Vehicle.Customer.LastName @Model.WashTurn.Vehicle.Customer.FirstName</p>
                            <p> @Model.WashTurn.Vehicle.Customer.CompanyName</p>
                            <p>@Model.WashTurn.Vehicle.Customer.BtwNumber</p>
                            <p>@Model.WashTurn.Vehicle.Customer.Address.Street @Model.WashTurn.Vehicle.Customer.Address.HouseNumber @Model.WashTurn.Vehicle.Customer.Address.NumberExtension</p>
                            <p> @Model.WashTurn.Vehicle.Customer.Address.PostalCode @Model.WashTurn.Vehicle.Customer.Address.City</p>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>@InvoiceTextDetails.Times</strong><br>
                            <p>Signup Time: @Model.WashTurn.WaitTime</p>
                            <p>Start Washturn: @Model.WashTurn.StartTime</p>
                            <p>End Washturn: @Model.WashTurn.EndTime</p>
                            <p> Total Minutes: @Model.WaitTime</p>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>@InvoiceTextDetails.InvoiceDate:</strong><br>
                            <p>@Model.DateInvoice</p>
                            <strong>@InvoiceTextDetails.OperatorWashHall:</strong><br>
                            <p>@Model.LoginLog.Staff.LastName</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>@InvoiceTextDetails.Ordersummary</strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <td><strong>@InvoiceTextDetails.Description</strong></td>
                                    <td class="text-center"><strong>@InvoiceTextDetails.Price</strong></td>
                                    <td class="text-center"><strong></strong></td>
                                    <td class="text-right"><strong>@InvoiceTextDetails.Totals</strong></td>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>@InvoiceTextDetails.Washtype: @Model.WashTurn.WashType.WashTypeName</td>
                                    <td class="text-center">€@Model.WashTurn.WashType.Price</td>
                                    <td class="text-center"></td>
                                    <td class="text-right">€@Model.WashTurn.WashType.Price</td>
                                </tr>
                                <tr>
                                    <td>@InvoiceTextDetails.WashtypeExtra: @Model.WashTurn.WashTypeExtra.WashtypeExtraName</td>
                                    <td class="text-center">€@Model.WashTurn.WashTypeExtra.Price</td>
                                    <td class="text-center"></td>
                                    <td class="text-right">€@Model.WashTurn.WashTypeExtra.Price</td>
                                </tr>
                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>@InvoiceTextDetails.Total</strong></td>
                                    <td class="no-line text-right">€@Model.Price</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @Html.ActionLink(@InvoiceTextDetails.PayInvoice, "Paid", new { id = Model.IdInvoice }, new { @class = "btn btn-warning ", @onclick = "Paid()", @id = "confirmed" }) |
            @Html.ActionLink(@InvoiceTextDetails.PDF, "PdfDetails", new { id = Model.IdInvoice }, new { @class = "btn btn-success " }) |
            @Html.ActionLink(@InvoiceTextDetails.Delete, "DeleteConfirmed", new { id = Model.IdInvoice }, new { @class = "btn btn-danger ", @onclick = "Delete()", @id = "deleteConfirmed" }) |
            @Html.ActionLink(@InvoiceTextDetails.Back, "SubIndex", null, new { @class = "btn btn-default" })
        </div>
    </div>



<script src="~/scripts/AlertMessagesJS.js"></script>