﻿@model TruckWash.Models.Invoice
@using TruckWash.Resources.Invoice
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@InvoicePdfPage.pdfPage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Pdf.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <h2>@InvoicePdfPage.Invoice</h2><h3 class="pull-right">@InvoicePdfPage.InvoiceNR: @Model.InvoiceNR</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <img src="~/App_Images/truckwashopmaat.jpg" />
                            <h4>@Model.LoginLog.Location.CompanyName</h4>
                            <p>@Model.LoginLog.Location.BtwNumber</p>
                            <p>@Model.LoginLog.Location.Address.Street @Model.LoginLog.Location.Address.HouseNumber @Model.LoginLog.Location.Address.NumberExtension  </p>
                            <p>@Model.LoginLog.Location.Address.PostalCode @Model.LoginLog.Location.Address.City</p>
                            <p>@Model.LoginLog.Location.Email</p>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>@InvoicePdfPage.BilledTo:</strong><br>
                            <p>@Model.WashTurn.Vehicle.Customer.LastName @Model.WashTurn.Vehicle.Customer.FirstName</p>
                            <p> @Model.WashTurn.Vehicle.Customer.CompanyName</p>
                            <p>@Model.WashTurn.Vehicle.Customer.BtwNumber</p>
                            <p>@Model.WashTurn.Vehicle.Customer.Address.Street @Model.WashTurn.Vehicle.Customer.Address.HouseNumber @Model.WashTurn.Vehicle.Customer.Address.NumberExtension</p>
                            <p> @Model.WashTurn.Vehicle.Customer.Address.PostalCode @Model.WashTurn.Vehicle.Customer.Address.City</p>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>@InvoicePdfPage.Times</strong><br>
                            <p>Signup Time: @Model.WashTurn.WaitTime</p>
                            <p>Start Washturn: @Model.WashTurn.StartTime</p>
                            <p>End Washturn: @Model.WashTurn.EndTime</p>
                            <p> Total Minutes: @Model.WaitTime</p>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>@InvoicePdfPage.InvoiceDate:</strong><br>
                            <p>@Model.DateInvoice</p>
                            <strong>@InvoicePdfPage.OperatorWashHall:</strong><br>
                            <p>@Model.LoginLog.Staff.LastName</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>@InvoicePdfPage.Ordersummary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Description</strong></td>
                                        <td class="text-center"><strong>@InvoicePdfPage.Price</strong></td>
                                        <td class="text-center"><strong></strong></td>
                                        <td class="text-right"><strong>@InvoicePdfPage.Totals</strong></td>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>@InvoicePdfPage.Washtype: @Model.WashTurn.WashType.WashTypeName</td>
                                        <td class="text-center">€@Model.WashTurn.WashType.Price</td>
                                        <td class="text-center"></td>
                                        <td class="text-right">€@Model.WashTurn.WashType.Price</td>
                                    </tr>
                                    <tr>
                                        <td>@InvoicePdfPage.WashtypeExtra: @Model.WashTurn.WashTypeExtra.WashtypeExtraName</td>
                                        <td class="text-center">€@Model.WashTurn.WashTypeExtra.Price</td>
                                        <td class="text-center"></td>
                                        <td class="text-right">€@Model.WashTurn.WashTypeExtra.Price</td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>@InvoicePdfPage.Total</strong></td>
                                        <td class="no-line text-right">€@Model.Price</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
