﻿@using TruckWash.Resources.Invoice

@{
    ViewBag.Title = "SubIndex";
}

<div class="container-fluid text-center">

    <div class="row">



        <div class="col-sm-4">
            <a href="~/Invoices/UnpaidInvoices">
                <div class="thumbnail Tegeltje">

                    <p>
                        <i class="fa fa-search fa-5x"></i><i class="fa fa-file fa-5x"></i>
                    </p>

                    <p>@InvoiceTextSubIndex.ShowAllUnpaidInvoices</p>

                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Invoices/PaidInvoices">
                <div class="thumbnail Tegeltje">
                    <p>
                        <i class="fa fa-search fa-5x"></i><i class="fa fa-eur fa-5x"></i><i class="fa fa-file fa-5x"></i>
                    </p>
                    <p>@InvoiceTextSubIndex.ShowAllPaidInvoices</p>
                </div>
            </a>
        </div>



        <div class="col-sm-4">
            <a href="~/Invoices/ThisMonthInvoices">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-euro fa-5x"></i>
                    <i class="fa fa-calendar fa-5x"></i>
                    <p>@InvoiceTextSubIndex.ThisMonthInvoices</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Invoices/LastMonthInvoices">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-euro fa-5x"></i>
                    <i class="fa fa-calendar fa-5x"></i>
                    <p>@InvoiceTextSubIndex.LastMonthInvoices</p>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="~/Invoices/OurCompanyInvoices">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-euro fa-5x"></i>
                    <i class="fa fa-search fa-5x"></i>
                    <p>@InvoiceTextSubIndex.SearchOurCompanyCarsInvoices</p>
                </div>
            </a>
        </div>

    </div>
</div>

