﻿@using TruckWash.Resources.Invoice
@model IEnumerable<TruckWash.Models.Invoice>

@{
    ViewBag.Title = "ThisMonthInvoices";
}

<div class="row">
    <a href="@Url.Action("SubIndex", "Invoices")" class="btn btn-primary col-md-3 backButtonList">
        <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
    </a>


    <table class="table">
        <tr>
            <th>
                @InvoiceLastMonthInvoicesText.InvoiceNR
            </th>
            <th>
                @InvoiceLastMonthInvoicesText.DateInvoice

            </th>
            <th>
                @InvoiceLastMonthInvoicesText.LastName

            </th>
            <th>
                @InvoiceLastMonthInvoicesText.CompanyName

            </th>
            <th>
                @InvoiceLastMonthInvoicesText.LicensePlate

            </th>
            <th>
                @InvoiceLastMonthInvoicesText.Paid

            </th>
            <th>
                @InvoiceLastMonthInvoicesText.Price

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateInvoice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WashTurn.Vehicle.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WashTurn.Vehicle.Customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WashTurn.Vehicle.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }

    </table>

    </div>
