﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Vehicle
@model TruckWash.Models.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div>
                    <img style="height: 30%; width: 60%;" src="https://www.wpclipart.com/transportation/car/icons_BW/truck_BW_icon_T.png" class="img-responsive center-block" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">

                        @Html.HiddenFor(id => id.IdVehicle)
                        @Html.DisplayFor(model => model.LicensePlate)
                    </div>
                    <div class="profile-usertitle-job">
                        @Html.DisplayFor(model => model.Customer.CompanyName)
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                @VehicleDetailsText.OverView
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Vehicles",new { id = Model.IdVehicle })">
                                <i class="glyphicon glyphicon-edit"></i>
                                @VehicleDetailsText.Update
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Details","Customer",new { id = Model.Customer.IdCustomer })">
                                <i class="fa fa-user"></i>
                                @VehicleDetailsText.Customer
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("SearchList","Vehicles")">
                                <i class="fa fa-list"></i>
                                @VehicleDetailsText.Return
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 j">
            <div class="profile-content">
                <div class="dl-horizontal ">

                    <fieldset class="fsStyle">



                        <legend class="legendStyle">
                            @VehicleDetailsText.Personal @VehicleDetailsText.Info @Html.DisplayFor(model => model.LicensePlate)
                        </legend>

                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.IdVehicle)


                            <dt>
                                @Html.DisplayName(VehicleDetailsText.Model):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Model)
                            </dd>
                            <dt>
                                @Html.DisplayName(VehicleDetailsText.Merk):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Merk)
                            </dd>
                            <dt>
                                @Html.DisplayName(VehicleDetailsText.Length):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Length)
                            </dd>
                            <dt>
                                @Html.DisplayName(VehicleDetailsText.IsInternVehicle):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.IsInternVehicle)
                            </dd>
                            <dt>
                                @Html.DisplayName(VehicleDetailsText.Remark):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Remark)
                            </dd>
                            <dt>
                                @Html.DisplayName(VehicleDetailsText.LastWashturn):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastWashturn)
                            </dd>

                        </dl>


                        <div class="col-md-6">

                            <dl class="col-md-6">



                                <dt>
                                    @Html.DisplayName(VehicleDetailsText.FirstName):
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Customer.FirstName)
                                </dd>
                                <dt>
                                    @Html.DisplayName(VehicleDetailsText.LastName):
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Customer.LastName)
                                </dd>
                                <dt>
                                    @Html.DisplayName(VehicleDetailsText.CompanyName):
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Customer.CompanyName)
                                </dd>


                            </dl>

                        </div>
                    </fieldset>




                </div>
            </div>
        </div>
    </div>
</div>               

<script src="~/scripts/AlertMessagesJS.js"></script>
