﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Vehicle
@model TruckWash.Models.Vehicle

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>Edit Vehicle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdVehicle)
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a >
                            1.@VehicleEditText.Vehicle @VehicleEditText.Info
                        </a>
                    </h4>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label(VehicleEditText.LicensePlate, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LicensePlate, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.LicensePlate, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.Merk, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Merk, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Merk, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.Model, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Model, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Model, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.Type, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Type, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Type, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.Length, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Length, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Length, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.Remark, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Remark, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Remark, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.LastWashturn, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LastWashturn, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.LastWashturn, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.SecondLastWashturn, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.SecondLastWashturn, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.SecondLastWashturn, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.IsInternVehicle, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.IsInternVehicle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IsInternVehicle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(VehicleEditText.LastName, htmlAttributes: new {@class = "control-label col-md-3"})
                        <div class="col-md-5">
                            @Html.DropDownList("CustomerID", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.CustomerID, "", new {@class = "text-danger"})
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">

                        <div class="col-md-offset-3 col-md-8">
                            <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3 ">@VehicleEditText.Save</button>
                            <a href="@Url.Action("SubIndex", "Vehicles")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@VehicleEditText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
