﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Vehicle
@model IEnumerable<TruckWash.Models.Vehicle>

@{
    ViewBag.Title = "List";
}


<div class="row">
    <a href="@Url.Action("SubIndex", "Vehicles")" class="btn btn-primary col-md-3 backButtonList">
        <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
    </a>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(VehicleList.LicensePlate)
            </th>
            <th>
                @Html.DisplayName(VehicleList.Merk)
            </th>
            <th>
                @Html.DisplayName(VehicleList.Model)
            </th>
            <th>
                @Html.DisplayName(VehicleList.Type)
            </th>
            <th>
                @Html.DisplayName(VehicleList.Length)
            </th>
            <th>
                @Html.DisplayName(VehicleList.Remark)
            </th>
            <th>
                @Html.DisplayName(VehicleList.LastWashturn)
            </th>
            <th>
                @Html.DisplayName(VehicleList.SecondLastWashturn)
            </th>
            <th>
                @Html.DisplayName(VehicleList.IsInternVehicle)
            </th>
            <th>
                @Html.DisplayName(VehicleList.FirstName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Merk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastWashturn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondLastWashturn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInternVehicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>
