﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Vehicle
@model IEnumerable<TruckWash.Models.Vehicle>

@{
    ViewBag.Title = "OurVehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <a href="@Url.Action("SubIndex", "OurCompany")" class="btn btn-primary col-md-3 backButtonList">
        <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
    </a>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(OurVehiclesText.LicensePlate)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.Merk)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.Model)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.Type)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.Length)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.Remark)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.LastWashturn)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.SecondLastWashturn)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.IsInternVehicle)
            </th>
            <th>
                @Html.DisplayName(OurVehiclesText.FirstName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Merk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastWashturn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondLastWashturn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInternVehicle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
            </tr>
        }

    </table>
    </div>
