﻿
@using TruckWash.Resources.Vehicle
@model IEnumerable<TruckWash.Models.Vehicle>
@{
    ViewBag.Title = "SearchListVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="vehicle">
    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @SearchListText.Sort @SearchListText.by @SearchListText.name
        </button>
        <a href="@Url.Action("SubIndex","Vehicles")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list">

                @foreach (var item in Model)
                {

                    <a href="@Url.Action("Details", "Vehicles", new {id = item.IdVehicle})">
                        <div class="col-md-12">
                            <div class="thumbnail">

                                <li>
                                    <h3 class="LicensePlate"> @item.LicensePlate</h3>
                                    <p class="CustomerName"><strong>@TruckWash.Resources.Vehicle.SearchListText.CompanyName:</strong> @item.Customer.CompanyName </p>
                                    
                                                                   
                                </li>

                            </div>
                        </div>
                    </a>

                }

            </ul>

        </div>
        </div>
</div>




<script src="http://listjs.com/no-cdn/list.js"></script>
