﻿@model IEnumerable<TruckWash.Models.Vehicle>

@{
    ViewBag.Title = "SubIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">

    <div class="row">
        
        <div class="col-sm-4">
            <a href="~/Vehicles/Create">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-user fa-5x"></i>
                    <p>@TruckWash.Resources.Vehicle.VehicleText.Vehicle @TruckWash.Resources.Vehicle.VehicleText.Existing @TruckWash.Resources.Vehicle.VehicleText.Customer</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Vehicles/List">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-tasks fa-5x"></i>
                    <p>@TruckWash.Resources.Vehicle.VehicleText.Show @TruckWash.Resources.Vehicle.VehicleText.Vehicle</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Vehicles/SearchList">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-tasks fa-5x"></i>
                    <p>@TruckWash.Resources.Vehicle.VehicleText.Search @TruckWash.Resources.Vehicle.VehicleText.Vehicle</p>
                </div>
            </a>
        </div>

    </div>

    

</div>
