﻿
@model TruckWash.Models.WashTurn
    @using TruckWash.Resources.Washturn

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">
    <div class="form-horizontal container">
        <h4>@WashturnCreateText.PlanWashturn</h4>
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a>
                       @WashturnCreateText.Washturn
                    </a>
                </h4>
            </div>
            <div class="panel-body">

                <div class="form-group">
                 
                    @Html.Label(WashturnCreateText.SelectCustomer, new { @class = " col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.DropDownList("CustomerID", null, htmlAttributes: new {@class = "form-control", @onchange = "javascript:GetVehicles(this.value);"})
                        @Html.ValidationMessageFor(model => model.Vehicle.CustomerID, "", new {@class = "text-danger"})
                    </div>
                </div>
              
                <div class="form-group">
                    @Html.Label(WashturnCreateText.SelectVehicleLicenseplate, new { @class = " col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.DropDownList("VehicleID", null, htmlAttributes: new {@class = "form-control", @name="VehicleID", @onchange ="javascript:VehicleCheck(this.value);" })
                        @Html.ValidationMessageFor(model => model.VehicleID, "", new {@class = "text-danger"})
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label(WashturnCreateText.SelectWashType, new { @class = " col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.DropDownList("WashTypeID", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.WashTypeID, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(WashturnCreateText.SelectExtraWashtype, new { @class = " col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.DropDownList("WashTypeExtraID", null, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.WashTypeExtraID, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(WashturnCreateText.Remark, new { @class = " col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Remark, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Remark, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">
                      
                        <div class="col-md-8 col-md-offset-3">
                            <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3">@WashturnCreateText.Save</button>
                            <a href="@Url.Action("SubIndex", "WashTurns")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@WashturnCreateText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/scripts/getVehicles.js"></script>
<script src="~/scripts/VehicleCheck.js"></script>