﻿@using System.Data.SqlClient
@using TruckWash.Resources.Washturn
@model TruckWash.Models.WashTurn

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div  >
                    <img  style="height: 30%; width: 60%;"  src="https://www.wpclipart.com/transportation/car/icons_BW/truck_BW_icon_T.png" class="img-responsive center-block" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">

                        @Html.HiddenFor(id => id.IdWashTurn)
                        @Html.DisplayFor(model => model.Vehicle.Customer.FirstName) @Html.DisplayFor(model => model.Vehicle.Customer.LastName)
                    </div>
                    <div class="profile-usertitle-job">
                        @Html.DisplayFor(model => model.Vehicle.Customer.CompanyName)
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                @TruckWash.Resources.Washturn.WashturnDetailsText.OverView
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","WashTurns",new { id = Model.IdWashTurn })">
                                <i class="glyphicon glyphicon-edit"></i>
                                @TruckWash.Resources.Washturn.WashturnDetailsText.Update
                            </a>
                        </li>
                        <li>
                            <a onclick="Delete();" id="deleteConfirmed" href="@Url.Action("DeleteConfirmed","WashTurns",new { id = Model.IdWashTurn })">
                                <i class="glyphicon glyphicon-trash"></i>
                                @TruckWash.Resources.Washturn.WashturnDetailsText.Delete
                            </a>
                        </li>
                 

                        <li>
                            <a href="@Url.Action("SubIndex","WashTurns")">
                                <i class="fa fa-list"></i>
                                @TruckWash.Resources.Washturn.WashturnDetailsText.Return
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 j">
            <div class="profile-content">
                <div class="dl-horizontal ">

                    <fieldset class="fsStyle">



                        <legend class="legendStyle">
                            @TruckWash.Resources.Washturn.WashturnDetailsText.Personal @TruckWash.Resources.Washturn.WashturnDetailsText.Info @Html.DisplayFor(model => model.Vehicle.Customer.CompanyName)
                        </legend>

                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.IdWashTurn)



                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Customer.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.LastName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Customer.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.CompanyName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Customer.CompanyName)
                            </dd>

                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.LicensePlate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.LicensePlate)
                            </dd>
                        </dl>
                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.WashType.IdWashType)
                            @Html.HiddenFor(model => model.Vehicle.IdVehicle)
                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.WashTypeName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WashType.WashTypeName)
                            </dd>

                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.WashtypeExtraName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WashTypeExtra.WashtypeExtraName)
                            </dd>

                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.Remark)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Remark)
                            </dd>
                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.WaitTime)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.WaitTime)
                            </dd>

                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.StartTime)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.StartTime)
                            </dd>

                            <dt>
                                @Html.DisplayName(@TruckWash.Resources.Washturn.WashturnDetailsText.EndTime)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EndTime)
                            </dd>

                        </dl>

                        <div class="col-md-6">


                        </div>
                    </fieldset>




                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/AlertMessagesJS.js"></script>