﻿@model TruckWash.Models.WashTurn
@using TruckWash.Resources.Washturn
@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdWashTurn)
        <div class="form-horizontal container">
            <h4>@WashturnEditText.EditWashturn</h4>
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a>
                            @WashturnEditText.Washturn
                        </a>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.Label(WashturnEditText.SelectCustomer, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.DropDownList("CustomerID", null, htmlAttributes: new {@class = "form-control", @onchange = "javascript:GetVehicles(this.value);"})
                            @Html.ValidationMessageFor(model => model.Vehicle.CustomerID, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label(WashturnEditText.SelectVehicleLicenseplate, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.DropDownList("VehicleID", null, htmlAttributes: new { @class = "form-control", @name = "VehicleID", @onchange = "javascript:VehicleCheck(this.value);" })
                            @Html.ValidationMessageFor(model => model.VehicleID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(WashturnEditText.SelectWashType, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.DropDownList("WashTypeID", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.WashTypeID, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(WashturnEditText.SelectExtraWashtype, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.DropDownList("WashTypeExtraID", null, htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.WashTypeExtraID, "", new {@class = "text-danger"})
                        </div>
                    </div>




                    <div class="form-group">
                        @Html.Label(WashturnEditText.WaitTime, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.WaitTime, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.WaitTime, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(WashturnEditText.StartTime, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.StartTime, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.StartTime, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(WashturnEditText.EndTime, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.EndTime, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.EndTime, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(WashturnEditText.Remark, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Remark, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Remark, "", new {@class = "text-danger"})
                        </div>
                    </div>

                </div>

            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            
                            <div class="col-md-8 col-md-offset-3">
                                <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3">@WashturnEditText.Save</button>
                                <a href="@Url.Action("SubIndex", "WashTurns")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@WashturnEditText.Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                }


                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                <script src="~/Scripts/getVehicles.js"></script>