﻿@using TruckWash.Resources.Washturn
@model IEnumerable<TruckWash.Models.WashTurn>

@{
    ViewBag.Title = "PlannedWashturns";
}

<div id="washturn">
    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @WashTurnSearchListText.Sortbyname
        </button>
        <a href="@Url.Action("SubIndex","WashTurns")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>
    <div class="row">
        <div class="col-md-6">
        <ul class="list">

            @foreach (var item in Model)
            {
                <a href="@Url.Action("Details", "WashTurns", new {id = item.IdWashTurn})">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <li>
                                <h3 class="name">@item.Vehicle.LicensePlate @item.Vehicle.Customer.LastName @item.Vehicle.Customer.CompanyName</h3>
                                <p class="washtype"><strong>@WashTurnSearchListText.Washtypename</strong> @item.WashType.WashTypeName</p>
                                <p class="washtypeExtra"><strong>@WashTurnSearchListText.Washtypeextraname</strong> @item.WashTypeExtra.WashtypeExtraName</p>

                            </li>
                        </div>
                    </div>
                </a>
            }
        </ul>
        </div>
    </div>

</div>

<script src="http://listjs.com/no-cdn/list.js"></script>
