﻿@model TruckWash.Models.WashTurn

@{
    ViewBag.Title = "SubIndex";
}



<div class="container-fluid text-center">

    <div class="row">

        <div class="col-sm-4">
            <a href="~/WashTurns/WashturnNewCustomer">
                <div class="thumbnail Tegeltje">

                    <p><i class="fa fa-users fa-5x"></i></p>
                    <p>@TruckWash.Resources.Washturn.WashturnText.plan @TruckWash.Resources.Washturn.WashturnText.washturn @TruckWash.Resources.Washturn.WashturnText.New @TruckWash.Resources.Washturn.WashturnText.customer</p>

                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/WashTurns/Create">
                <div class="thumbnail Tegeltje">

                    <p>
                        <i class="fa fa-user fa-5x"></i>
                    </p>

                    <p>@TruckWash.Resources.Washturn.WashturnText.plan @TruckWash.Resources.Washturn.WashturnText.washturn @TruckWash.Resources.Washturn.WashturnText.existing @TruckWash.Resources.Washturn.WashturnText.customer</p>

                </div>
            </a>
        </div>



        <div class="col-sm-4">
            <a href="~/WashTurns/PlannedWashturns">
                <div class="thumbnail Tegeltje">

                    <p> <i class="fa fa-book fa-5x"></i></p>

                    <p>  @TruckWash.Resources.Washturn.WashturnText.Show @TruckWash.Resources.Washturn.WashturnText.planned @TruckWash.Resources.Washturn.WashturnText.Washturns</p>

                </div>
            </a>
        </div>

    </div>

    <div class="col-sm-4">
        <a href="~/WashTypeExtras/Create">
            <div class="thumbnail Tegeltje">

                <p>
                    <i class="fa fa-plus-circle fa-5x"></i>
                </p>

                <p>  @TruckWash.Resources.Washturn.WashturnText.Add @TruckWash.Resources.Washturn.WashturnText.WashType @TruckWash.Resources.Washturn.WashturnText.Extras</p>

            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="~/WashTypes/Create">
            <div class="thumbnail Tegeltje">

                <p>
                    <i class="fa fa-plus-circle fa-5x"></i>
                </p>

                <p>  @TruckWash.Resources.Washturn.WashturnText.Add @TruckWash.Resources.Washturn.WashturnText.WashType</p>

            </div>
        </a>
    </div>


    <div class="col-sm-4">
        <a href="~/WashTypeExtras/SubIndex">
            <div class="thumbnail Tegeltje">

                <p>
                    <i class="fa fa-archive fa-5x"></i>
                </p>

                <p>   @TruckWash.Resources.Washturn.WashturnText.Show @TruckWash.Resources.Washturn.WashturnText.WashType @TruckWash.Resources.Washturn.WashturnText.Extras</p>

            </div>
        </a>
    </div>

    <div class="col-sm-4">
        <a href="~/WashTypes/SubIndex">
            <div class="thumbnail Tegeltje">

                <p>
                    <i class="fa fa-archive fa-5x"></i>
                </p>

                <p>   @TruckWash.Resources.Washturn.WashturnText.Show @TruckWash.Resources.Washturn.WashturnText.Washtypes</p>

            </div>
        </a>
    </div>

</div>

