﻿@model TruckWash.Models.WashTurn
@using TruckWash.Resources.Washturn
@{
    ViewBag.Title = "WashturnNewCustomer";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>Plan a Washturn for a new customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            1.@WashturnNewCustomerText.Customer
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.FirstName, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.LastName, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.CompanyName, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Discount, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Discount, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Discount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.BtwNumber, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.BtwNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.BtwNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.CellPhone, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Gsm, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Gsm, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Email, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Phone, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Street, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Address.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.HouseNumber, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Address.HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Address.HouseNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.NumberExtention, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Address.NumberExtension, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Address.NumberExtension, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.PostalCode, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Address.PostalCode, new { htmlAttributes = new { @class = "form-control", id = "postalCode" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Address.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.City, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Customer.Address.City, new { htmlAttributes = new { @class = "form-control", id = "cityName" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Customer.Address.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            2.@WashturnNewCustomerText.Vehicle
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.LicensePlate, new { @class = " col-md-3 control-label" })

                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.LicensePlate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.LicensePlate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Merk, new { @class = " col-md-3 control-label" })

                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Merk, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Merk, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Model, new { @class = " col-md-3 control-label" })

                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Model, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Model, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Type, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Type, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Length, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Length, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Length, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Remark, new { @class = " col-md-3 control-label" })

                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Vehicle.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Vehicle.Remark, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.IsInternVehicle, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Vehicle.IsInternVehicle)
                                    @Html.ValidationMessageFor(model => model.Vehicle.IsInternVehicle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            3. @WashturnNewCustomerText.Washtype
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Washtype, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.DropDownList("WashTypeID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WashTypeID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.washtypeExtra, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.DropDownList("WashTypeExtraID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WashTypeExtraID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label(WashturnNewCustomerText.Remark, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">

                        <div class="col-md-8 col-md-offset-3">
                            <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3">@WashturnNewCustomerText.save</button>
                            <a href="@Url.Action("SubIndex", "WashTurns")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@WashturnNewCustomerText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

}



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

