﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.WashType
@model TruckWash.Models.WashType

@{
    ViewBag.Title = "Delete";
}



<h3>@TruckWash.Resources.WashType.WashTypeDeleteText.AreYouSureYouWantToDeleteThis?</h3>
<div>
    <h4>@TruckWash.Resources.WashType.WashTypeDeleteText.WashType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@TruckWash.Resources.WashType.WashTypeDeleteText.WashTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashTypeName)
        </dd>

        <dt>
            @Html.DisplayName(@TruckWash.Resources.WashType.WashTypeDeleteText.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
          @Html.ActionLink("Back to List", "SubIndex", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
