﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.WashType
@model IEnumerable<TruckWash.Models.WashType>

@{
    ViewBag.Title = "SubIndex";
}

<div class="row">
    <a href="@Url.Action("SubIndex", "WashTurns")" class="btn btn-primary col-md-3 backButtonList">
        <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
    </a>



<table class="table">
    <tr>
        <th>
            @Html.DisplayName(@TruckWash.Resources.WashType.WashTypeSubindexText.WashTypeName)
        </th>
        <th>
            @Html.DisplayName(@TruckWash.Resources.WashType.WashTypeSubindexText.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WashTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.IdWashType}, new {@class = "btn btn-info "})|
                @Html.ActionLink("Delete", "Delete", new {id = item.IdWashType}, new {@class = "btn btn-danger "})
            </td>
        </tr>
    }

</table>
    </div>
