.flag {
	width: 16px;
	height: 11px;
	background:url(flags.png) no-repeat
}

.flag.flag-be {background-position: -16px 0}
.flag.flag-fr {background-position: 0 -11px}
.flag.flag-gb {background-position: -16px -11px}
