﻿

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: grey;
    color: black;
}

.booth {
    width: 400px;
    background: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}

.Tegeltje{
    padding-top: 5%;
    padding-bottom : 4%;
}

.bar{
    background-color: black;
    margin-left: 0px;
    margin-right:0px;
    height: 4%;
}

.sidePadding{
    padding-left: 10%;
}

.qr-login-button{
    margin-top: -30px;
    min-width: 320px;
}

.qr-login-margin-left {
    margin-left:10px;
}


.qr-login-info-lbl {
    padding-top:5px; 
}

.whitetext {
    color:white;
}

.loginheader{

    background-color:black;
    color: #890020;

    text-align: center;
    font-size:x-large;


    height: 40px;
    padding-bottom: 1%;
    margin-bottom: 3%;

    padding-left: 0px;
    padding-right: 0px;
    min-width: 200px;
    max-width: 15000px;
 

}


.loginform {
    background-color: #2c2c2c;
    color:white;
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    padding-right:0%;
}

.loginbuttondiv{
    text-align:center;
}

.loginbutton {
    background-color: #2c2c2c;   
    color: white;
    min-width: 92%;
    margin-left:4%;
    margin-right: 0%;
    margin-top:2%;
    font-size: medium;
}

.row {
    margin-top: 40px;
    padding: 0 10px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.navbar-inverse {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
}


h2 {
    font-family: sans-serif;
}

.list {
    font-family: sans-serif;
    margin: 0;
    padding: 20px 0 0;
}

    .list > li {
        display: block;
        background-color: #eee;
        padding: 10px;
        box-shadow: inset 0 1px 0 #fff;
    }

ul li {
    list-style: none;
}

ul a {
    color: black;
}

a {
    color: #224f71;
}

    a:hover {
        color: #890020;
    }

ul a :hover {
    color: #890020;
}



.avatar {
    max-width: 150px;
}

img {
    max-width: 100%;
}

h3 {
    font-size: 16px;
    margin: 0 0 0.3rem;
    font-weight: normal;
    font-weight: bold;
}

p {
    margin: 0;
}

input {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 14px;
    margin-bottom: 10px;
}

    input:focus {
        outline: none;
        border-color: #aaa;
    }

.sort {
    padding: 8px 30px;
    border-radius: 6px;
    border: none;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #28a8e0;
    height: 30px;
}

    .sort:hover {
        text-decoration: none;
        background-color: #1b8aba;
    }

    .sort:focus {
        outline: none;
    }

    .sort:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid transparent;
        content: "";
        position: relative;
        top: -10px;
        right: -5px;
    }

    .sort.asc:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        content: "";
        position: relative;
        top: 13px;
        right: -5px;
    }

    .sort.desc:after {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff;
        content: "";
        position: relative;
        top: -10px;
        right: -5px;
    }

.profile {
    margin: 20px 0;
   
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    min-height: 600px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 25%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}
.profile-Indexpic img {
    float: none;
    margin: 0 auto;
    width: 35%;
    height: 25%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

    .profile-userbuttons .btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 6px 15px;
        margin-right: 5px;
    }

        .profile-userbuttons .btn:last-child {
            margin-right: 0px;
        }

.profile-usermenu {
    margin-top: 30px;
  
}

    .profile-usermenu ul li {
        border-bottom: 1px solid #f0f4f7;
    }

        .profile-usermenu ul li:last-child {
            border-bottom: none;
        }

        .profile-usermenu ul li a {
            color: #93a3b5;
            font-size: 14px;
            font-weight: 400;
        }

            .profile-usermenu ul li a i {
                margin-right: 8px;
                font-size: 14px;
            }

            .profile-usermenu ul li a:hover {
                background-color: #fafcfd;
                color: #5b9bd1;
            }

        .profile-usermenu ul li.active {
            border-bottom: none;
        }

            .profile-usermenu ul li.active a {
                color: #5b9bd1;
                background-color: #f6f9fb;
                border-left: 2px solid #5b9bd1;
                margin-left: -2px;
            }

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 600px;
}

legend a {
    color: inherit;
}

legend.legendStyle {
    padding-left: 5px;
    padding-right: 5px;
}

fieldset.fsStyle {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    font-weight: normal;
    border: 1px solid #999999;
    padding: 4px;
    margin: 5px;
}

legend.legendStyle {
    font-size: 90%;
    color: #888888;
    background-color: transparent;
    font-weight: bold;
}

legend {
    width: auto;
    border-bottom: 0px;
}

/* Sidebarindex*/

.left {
    float: left;
}

.right {
    float: right;
}

.clearer {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}


.hidden {
    display: none;
}





/* Content & sidebar */

#content, #sidebar {
    margin-top: 0px;
}

#sidebar {
    background-color: transparent;
    display: none;
}

#content {
    background-color: transparent;
    width: 97%;
}

.use-sidebar #content {
    width: 64%;
}

.use-sidebar #sidebar {
    display: inline-table;
    width: 25%;
}

.sidebar-at-left #sidebar {
    margin-right: 1%;
}

.sidebar-at-right #sidebar {
    margin-left: 1%;
}

.sidebar-at-left #content, .use-sidebar.sidebar-at-right #sidebar, .sidebar-at-right #separator {
    float: right;
}

.sidebar-at-right #content, .use-sidebar.sidebar-at-left #sidebar, .sidebar-at-left #separator {
    float: left;
}

#separator {
    background-color: #EEE;
    display: block;
    outline: none;
    width: 2%;
    height: 5%;
    text-align: center;
}

.use-sidebar #separator {
    background: url('img/vertical-separator.gif') repeat-y center top;
    border-color: #FFF;
}

#separator:hover {
    border-color: #ABC;
    background: #DEF;
}

.btn.outline {
 background: none;
 padding: 12px 22px;

}

 .btn-primary.outline {
 border: 2px solid black;
 color: black;

}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
 color: #890020;
 border-color: #890020;
}
.btn-primary.outline:active, .btn-primary.outline.active {
 border-color: #007299;
 color: #007299;
 box-shadow: none;
}

 .Loginkader {
     border-radius: 25px;
 border: 3px solid black;
 color: black;
     padding-bottom: 10px;
     padding-top: 10px;
     margin-right: 50px;
}

 .backButton {
     position: fixed;right: 10%;
 }

 h4 {
     color: white;
 }


.backButtonList {
    left: 60%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.washhalltegel {
    min-height: 110%;
}
 
