﻿@using System.Globalization
@using System.Web.Script.Serialization
@using System.Web.Script.Services
@using TruckWash.Resources.WashHall
@model TruckWash.Models.WashTurn

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutOperator.cshtml";
}



<div class="row">
    <h4>WashTurn</h4>
    <hr />

    <div id="Times" class="col-md-5">
        <dl class="dl-horizontal">




            <dt>
                @Html.DisplayName(WashhallDetailText.CompanyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehicle.Customer.CompanyName)
            </dd>

            <dt>
                @Html.DisplayName(WashhallDetailText.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehicle.Customer.LastName)
            </dd>

            <dt>
                @Html.DisplayName(WashhallDetailText.LicensePlate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vehicle.LicensePlate)
            </dd>

            <dt>
                @Html.DisplayName(WashhallDetailText.WashTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WashType.WashTypeName)
            </dd>

            <dt>
                @Html.DisplayName(WashhallDetailText.WashTypeExtraName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WashTypeExtra.WashtypeExtraName)
            </dd>

            <dt>
                @Html.DisplayName(WashhallDetailText.Remark)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>

            <dt>
                @Html.DisplayName(WashhallDetailText.WaitTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WaitTime)
            </dd>

            <dt>
                @Html.DisplayName(WashhallDetailText.StartTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartTime)
            </dd>

        </dl>
    </div>

    <div class="col-md-5 ">
        
        <div class="row">
            @Ajax.ActionLink(WashhallDetailText.StartWashturn, "StartTime", new {id = Model.IdWashTurn}, new AjaxOptions()
       { HttpMethod = "GET", UpdateTargetId = "Times", InsertionMode = InsertionMode.Replace}, new {@class = "btn btn-info btn-lg btn-block"})
        </div>
        <div class="col-sm-12">
            
        </div>

        <div class="row">
            @Html.ActionLink(WashhallDetailText.EndWashturn, "CreateInvoiceToDetails","Invoices",new {id= Model.IdWashTurn},new {@class = "btn btn-danger btn-lg btn-block" })
        </div>

    </div>
</div>
