﻿@using TruckWash.Resources.WashHall
@model IEnumerable<TruckWash.Models.WashTurn>

@{
    ViewBag.Title = "SubIndex";
    Layout = "~/Views/Shared/_LayoutOperator.cshtml";
}

<div class="row">
    <div class="container-fluid text-center">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3 washhalltegel">
                    <a href="@Url.Action("Details", "WashHallOperator", new {id = item.IdWashTurn})">
                        <div class="thumbnail">
                            <b>
                                <p>@Html.DisplayName(WashhallText.LicensePlate)</p>
                            </b>
                            <p>@Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)</p>
                            <b>
                                <p>@Html.DisplayName(WashhallText.LastName) @Html.DisplayName(WashhallText.CompanyName)</p>
                            </b>
                            <p>@Html.DisplayFor(modelItem => item.Vehicle.Customer.LastName) @Html.DisplayFor(modelItem => item.Vehicle.Customer.CompanyName)</p>

                            <b>
                                <p> @Html.DisplayName(WashhallText.WashTypeName)</p>
                            </b>
                            <p>@Html.DisplayFor(modelItem => item.WashType.WashTypeName)</p>

                        </div>
                    </a>
                </div>
            }

        </div>
    </div>

</div>





<script src="~/scripts/jquery.cookie.js"></script>
<script src="~/scripts/IndexSideBar.js"></script>
