﻿@using TruckWash.Resources.Home
@using TruckWash.Resources.WashHall
@model IEnumerable<TruckWash.Models.WashTurn>


@{
    ViewBag.Title = "SubIndex";
    Layout = "~/Views/Shared/_LayoutOperator.cshtml";
}





<div class="use-sidebar sidebar-at-right" id="main">


    <div id="content" class="col-sm-9 container-fluid text-center">

        <div class="row">
            <div class="col-sm-8">
                <a href="~/WashHallOperator/PlannedWashturns">
                    <div class="thumbnail Tegeltje">
                        <i class="fa fa-tasks fa-5x"></i>
                        <p>@WashhallText.PlannedWashturns</p>
                    </div>
                </a>
            </div>

            <div class="col-sm-8">
                <a href="~/WashHallOperator/StartedWashTurns">
                    <div class="thumbnail Tegeltje">
                        <i class="fa fa-spinner fa-5x"></i>
                        <p>@WashhallText.StartedWashturns</p>
                    </div>
                </a>
            </div>
        </div>
    </div>



            <div id="sidebar" class="col-sm-3">

                <div id="right_panel" class="profile-sidebar row">

                    <div class="profile-Indexpic">
                        <img src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" class="img-responsive" alt="">
                        <hr />
                       <h2 class="text-center">@ViewBag.StaffName</h2>
                        <h3 class="text-center">@ViewBag.StaffNumber</h3>
                        <hr />
                        <br />
                        <h5 style="padding-left: 15px;"><strong>@HomeText.Lastworklocation:</strong><span>@ViewBag.Lastworklocation</span></h5>
                        <h5 style="padding-left: 15px;"><strong>@HomeText.Lastworkdate:</strong><span>@ViewBag.Lastworkdate</span></h5>
                        <br /><br />
                        <hr />

                        <footer class="text-center">

                            <img src="~/App_Images/vuylsteke.PNG" />
                        </footer>



                    </div>




                </div>

            </div>

            <div class="container-fluid ">

                <i id="separator" class="row text-center fa fa-2x fa-caret-right"></i>
            </div>


            <div class="clearer">&nbsp;</div>
        </div>






        <script src="~/scripts/jquery.cookie.js"></script>
        <script src="~/scripts/IndexSideBar.js"></script>
