﻿@using TruckWash.Resources.Location
@model TruckWash.Models.Location

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>@LocationsCreateText.Createanewlocation</h4>

        <hr />

        <div class="form-horizontal container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">

                            @LocationEditText.Location
                        </a>
                    </h4>
                </div>


                <div class="panel-body">
                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Locationname, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Companyname, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Btwnumber, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.BtwNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BtwNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Phone, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Street, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Housenumber, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Address.HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address.HouseNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        @Html.Label(LocationsCreateText.Housenumberextension, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Address.NumberExtension, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address.NumberExtension, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Search input-->
                                      <div class="form-group">
                        @Html.Label(LocationsCreateText.Postalcode, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Address.PostalCode, new { htmlAttributes = new { @class = "form-control input-md", id = "postalCode" } })
                            @Html.ValidationMessageFor(model => model.Address.PostalCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(LocationsCreateText.City, new { @class = " col-md-3 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control input-md", id = "cityName" } })
                            @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-8">
                                <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3">@LocationsCreateText.Save</button>
                                <a href="@Url.Action("SubIndex", "Locations")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@LocationsCreateText.Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

