﻿@using TruckWash.Resources.Location;
@model TruckWash.Models.Location


@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://www.linkcie.com/ServiceT1/images/locations_icon.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @Html.HiddenFor(id => id.IdLocation)
                        @Html.DisplayFor(model => model.LocationName)
                    </div>
                    <div class="profile-usertitle-job">
                        @Html.DisplayFor(model => model.CompanyName)
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                @LocationDetailsText.Overview
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit","Locations",new { id = Model.IdLocation })">
                                <i class="glyphicon glyphicon-edit"></i>
                                @LocationDetailsText.Update
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("SearchList","Locations")">
                                <i class="fa fa-list"></i>
                                @LocationDetailsText.Return
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 j">
            <div class="profile-content">
                <div class="dl-horizontal ">

                    <fieldset class="fsStyle">



                        <legend class="legendStyle">
                            @LocationDetailsText.Locationinfo @Html.DisplayFor(model => model.LocationName)
                        </legend>

                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.IdLocation)

                            <dt>
                                @Html.DisplayNameFor(model => model.LocationName):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LocationName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.CompanyName):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CompanyName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.BtwNumber):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BtwNumber)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Phone):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>

                        </dl>
                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.AddressID)
                            @Html.HiddenFor(model => model.Address.IdAddress)
                            <dt>
                                @Html.DisplayNameFor(model => model.Address.Street):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.Street)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Address.HouseNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.HouseNumber) <span> @Html.DisplayFor(model => model.Address.NumberExtension)</span>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Address.PostalCode):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.PostalCode)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Address.City):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.City)
                            </dd>

                        </dl>

                    </fieldset>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/AlertMessagesJS.js"></script>
