﻿@using TruckWash.Resources.Location
@model IEnumerable<TruckWash.Models.Location>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <a href="@Url.Action("SubIndex", "Locations")" class="btn btn-primary col-md-3 backButtonList">
        <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
    </a>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(LocationsListText.Locationname)
            </th>
            <th>
                @Html.DisplayName(LocationsListText.Street)
            </th>
            <th>
                @Html.DisplayName(LocationsListText.Housenumber)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address.Street)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address.HouseNumber)
                </td>
            </tr>
        }

    </table>
    </div>