﻿@using TruckWash.Resources.Location
@model IEnumerable<TruckWash.Models.Location>
@{
    ViewBag.Title = "SearchListLocation";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


<div id="location">

    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @LocationsSearchListText.Sortbyname
        </button>
        <a href="@Url.Action("SubIndex","Locations")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i>   @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list">

                @foreach (var item in Model)
            {

                    <a href="@Url.Action("Details", "Locations", new {id = item.IdLocation})">
                        <div class="col-md-12">
                            <div class="thumbnail">

                                <li>
                                    <h3 class="company">@item.LocationName @item.Address.City</h3>
                                    <p class="address">@LocationsSearchListText.Address @item.Address.Street @item.Address.HouseNumber @item.Address.HouseNumber</p>
                                    <p class="btw">@LocationsSearchListText.Btw @item.BtwNumber</p>
                                </li>

                            </div>
                        </div>
                    </a>

                }

            </ul>
        </div>
    </div>
</div>




<script src="http://listjs.com/no-cdn/list.js"></script>
