﻿@using TruckWash.Resources.Location
@model IEnumerable<TruckWash.Models.Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="row">
        
        <div class="col-sm-4">
            <a href="~/Locations/Create">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-plus-circle fa-5x"></i>
                    <i class="fa fa-building fa-5x"></i>
                    <p>@LocationsSubIndexText.Addalocation</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Locations/List">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-building fa-5x"></i>
                    <i class="fa fa-building fa-5x"></i>
                    <p>@LocationsSubIndexText.Showallthelocations</p>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="~/Locations/SearchList">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-building fa-5x"></i>
                    <i class="fa fa-search fa-5x"></i>
                    <p>@LocationsSubIndexText.Findandeditordeletealocation</p>
                </div>
            </a>
        </div>
        
    </div>

</div>

