﻿@using TruckWash.Resources.OurCompany
@{
    ViewBag.Title = "SubIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid text-center">

    <div class="row">

        <div class="col-sm-4">
            <a href="~/Staffs/SubIndex">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-eye fa-5x"></i>
                    <p>@OurCompanySubIndexText.Ourstaff</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Vehicles/OurVehicles">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-car fa-5x"></i>
                    <p>@OurCompanySubIndexText.Ourownvehicles</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Invoices/SubIndex">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-euro fa-5x"></i>
                    <p>@OurCompanySubIndexText.Ourinvoices</p>
                </div>
            </a>
        </div>
        
       


        <div class="col-sm-4">
            <a href="~/Locations/SubIndex">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-building-o fa-5x"></i>
                    <p>@OurCompanySubIndexText.Ourlocations</p>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="~/LoginLogs/SubIndex">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-search fa-5x"></i>
                    <p>@OurCompanySubIndexText.Searchstaffloginhistory</p>
                </div>
            </a>
        </div>          
    </div>
</div>