﻿@using System.Drawing;
@using TruckWash.Models;
@using TruckWash.Resources.Login;


@{
    ViewBag.Title = "camreader";
    int locatienummer = 1;
    var qr = ViewBag.Location;
    Layout = "~/Views/Shared/_Login.cshtml";
}
<script src="~/scripts/camread.js"></script>


<div style="padding-top:0%; margin-top:1%;">
    <div class="row qr-login-margin-left">
        <video id="video" width="320" height="240" autoplay="true"></video>
        <canvas id="canvas" class="hidden" width="640" height="480"></canvas>
    </div>
    
    @foreach (Location item in qr)
    {
                <button class="col-sm-12 col-md-6 col-lg-4 qr-login-button btn btn-lg btn-primary outline qr-login-button row qr-login-margin-left " name="b@locatienummer" value="@item.IdLocation" id="@locatienummer" style="margin-right: 10px;">
                    Locatie @locatienummer.ToString() : @item.LocationName @item.Address.City
                </button>
         
        locatienummer++;
    }

    <div class="qr-login-button row qr-login-margin-left col-sm-12 col-md-12 col-lg-6 whitetext">
       
               <p class="h4 fa fa-info-circle fa-2x">@CamreaderText.Howitworks</p>
        <p class="h5">@CamreaderText.Chooseyourlocation</p>
        <p class="h5">@CamreaderText.Whileshowingyourqrcode</p>


    </div>
</div>
