﻿@using TruckWash.Resources.Login
@model TruckWash.Models.LoginLog

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login.cshtml";
    string Message = string.Empty;
    if (ViewBag.LoginFault != null)
    {
        Message = LoginText.LoginFault;
    }
}

@using (Html.BeginForm("Login", "Login"))
{
    <div class="row">
        <div class="col-sm-6 col-md-3  col-md-offset-4 Loginkader text-center">
            <form class="form-signin">
                <div class="form-group">
                    @Html.Label(LoginText.UserName, htmlAttributes: new { @class = " control-label col-md-12" })
                </div>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Staff.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.Label(LoginText.Password, htmlAttributes: new { @class = "control-label col-md-12" })
                </div>
                <div class="col-md-12">
                    @Html.PasswordFor(model => model.Staff.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.Label(LoginText.Location, htmlAttributes: new { @class = "control-label col-md-12" })
                </div>
                <div class="form-group col-md-12">
                    @Html.DropDownList("LocationID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
                </div>
                <br />
                <div class="col-md-12" style="color:white;font-size:medium">
                    @Message
                </div>
                <button class="btn btn-lg btn-primary outline" type="submit">
                    @LoginText.Login
                </button>                
                <br />
            </form>            
        </div>
    </div>    
}