﻿@using TruckWash.Resources.Login
@{
    ViewBag.Title = "Welcome";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Mystyle.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/flags.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/scripts/bootstrap.js"></script>
    <title>Welcome</title>
</head>
<body style="padding-top:0px; margin-top:0px;">
      
            <div style="padding-left:5%; padding-top: 1%;">
                <a href="@Url.Action( "Change","Language", new {LanguageAbbrevation = "en"}, null)"><img src="~/Content/images/blank.gif" class="flag flag-gb" alt="greatbritain" />  </a>
                
                <a href="@Url.Action( "Change","Language", new {LanguageAbbrevation = "fr"}, null)"><img src="~/Content/images/blank.gif" class="flag flag-fr" alt="france"  />   </a>
               
                 <a href="@Url.Action( "Change","Language", new {LanguageAbbrevation = "nl"}, null)"><img src="~/Content/images/blank.gif" class="flag flag-be" alt="belgium"  />  </a>
            </div>
     
        <div class="container">
            <div class="row">
                <div class="center-block text-center">
                    <img style="height:6%;" src="~/App_Images/vuylsteke.png" /> <br><br><br><br>
                    <img style="height:6%;" src="http://atsmodshub.com/wp-content/uploads/2015/11/favicon.png" />
                </div>
            </div>

            <div class="row">


                <div class="center-block text-center">
                    <a href="~/Login/Login">
                        <div type="button" class="btn btn-primary outline" style="font-size: 25px;">
                            @WelkomText.SignIn
                            <i class="fa fa-hand-o-up"></i>

                        </div>
                    </a>

                    <a href="~/Login/camreader">
                        <div type="button" class="btn btn-primary outline" style="font-size: 25px;">
                            @WelkomText.SignIn <i class="fa fa-video-camera "></i>
                        </div>
                    </a>
                </div>


            </div>
        </div>
</body>
</html>
