﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Customer
@model TruckWash.Models.Customer

@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>@CreateCustomerText.Create @CreateCustomerText.New @CreateCustomerText.Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            1.@CreateCustomerText.Customer @CreateCustomerText.Info
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse in">
                    <div class="panel-body">
                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(CreateCustomerText.FirstName, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control input-md"  } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(CreateCustomerText.LastName, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control input-md" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(CreateCustomerText.Street, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.Street, new { htmlAttributes = new { @class = "form-control input-md" } })
                                @Html.ValidationMessageFor(model => model.Address.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(CreateCustomerText.HouseNumber, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.HouseNumber, new { htmlAttributes = new { @class = "form-control input-md"} })
                                @Html.ValidationMessageFor(model => model.Address.HouseNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(CreateCustomerText.NumberExtension, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.NumberExtension, new { htmlAttributes = new { @class = "form-control input-md"  } })
                                @Html.ValidationMessageFor(model => model.Address.NumberExtension, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!-- Search input-->
                        <div class="form-group">
                            @Html.Label(CreateCustomerText.PostalCode, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.PostalCode, new { htmlAttributes = new { @class = "form-control input-md" , id = "postalCode" } })
                                @Html.ValidationMessageFor(model => model.Address.PostalCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(CreateCustomerText.City, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.City, new { htmlAttributes = new { @class = "form-control input-md", id = "cityName" } })
                                @Html.ValidationMessageFor(model => model.Address.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(CreateCustomerText.Discount, new { @class = " col-md-3 control-label" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control input-md", @Value = "0" } })
                                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            2.@CreateCustomerText.Company @CreateCustomerText.Info
                        </a>
                    </h4>
                </div>

                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!-- Text input-->
                            <div class="form-group">
                                @Html.Label(CreateCustomerText.CompanyName, new { @class = " col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control input-md" } })
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <!-- Text input-->
                            <div class="form-group">
                                @Html.Label(CreateCustomerText.BtwNumber, new { @class = " col-md-3 control-label" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.BtwNumber, new { htmlAttributes = new { @class = "form-control input-md"  } })
                                    @Html.ValidationMessageFor(model => model.BtwNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>
               
            </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                3.@CreateCustomerText.Contact @CreateCustomerText.Info
                            </a>
                        </h4>
                    </div>

                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <!-- Text input-->
                            <div class="form-group">
                                @Html.Label(CreateCustomerText.Phone, new {@class = " col-md-3 control-label"})
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@class = "form-control input-md"}})
                                    @Html.ValidationMessageFor(model => model.Phone, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                @Html.Label(CreateCustomerText.Gsm, new {@class = " col-md-3 control-label"})
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Gsm, new {htmlAttributes = new {@class = "form-control input-md"}})
                                    @Html.ValidationMessageFor(model => model.Gsm, "", new {@class = "text-danger"})
                                </div>
                            </div>


                            <!-- Text input-->
                            <div class="form-group">
                                @Html.Label(CreateCustomerText.Email, new {@class = " col-md-3 control-label"})
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control input-md"}})
                                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
        



        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">

                        <div class="col-md-offset-3 col-md-8">
                            <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3 ">@CreateCustomerText.Save</button>
                            <a href="@Url.Action("SubIndex", "Customer")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@CreateCustomerText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

