﻿@using System.Web.UI.WebControls
@model TruckWash.Models.Customer
@using TruckWash.Resources.Customer




<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">

                        @Html.HiddenFor(id => id.IdCustomer)
                        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                    </div>
                    <div class="profile-usertitle-job">
                        @Html.DisplayFor(model => model.CompanyName)
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-home"></i>
                                @CustomerActiveText.OverView
                            </a>
                        </li>
                        <li>
                            <a onclick="ActiveEnDeActive()" id="confirmed" href="@Url.Action("UpdateCustomerActive","Customer",new { id = Model.IdCustomer})">
                                <i class="glyphicon glyphicon-edit"></i>
                                @ViewBag.Status
                            </a>
                        </li>

                        <li>
                            <a href="@Url.Action("GetAllCustomerNotActive","Customer")">
                                <i class="fa fa-list"></i>
                                @CustomerActiveText.Return
                            </a>
                        </li>



                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 j">
            <div class="profile-content">
                <div class="dl-horizontal ">

                    <fieldset class="fsStyle">



                        <legend class="legendStyle">
                            @CustomerActiveText.Personal @CustomerActiveText.Info @Html.DisplayFor(model => model.CompanyName)
                        </legend>

                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.IdCustomer)


                            <dt>
                                @Html.DisplayName(CustomerActiveText.FirstName):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.LastName):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.CompanyName):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.CompanyName)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.BtwNumber):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BtwNumber)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.Email):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.Phone):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.Gsm):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Gsm)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.IsActive):
                            </dt>
                            <dd>
                                @ViewBag.StatusName
                            </dd>
                        </dl>
                        <dl class="col-md-6">
                            @Html.HiddenFor(model => model.AddressID)
                            @Html.HiddenFor(model => model.Address.IdAddress)
                            <dt>
                                @Html.DisplayName(CustomerActiveText.Street):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.Street)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.HouseNumber)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.HouseNumber) <span> @Html.DisplayFor(model => model.Address.NumberExtension)</span>
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.PostalCode):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.PostalCode)
                            </dd>
                            <dt>
                                @Html.DisplayName(CustomerActiveText.City):
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address.City)
                            </dd>

                        </dl>

                        <div class="col-md-6">


                        </div>
                    </fieldset>




                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/AlertMessagesJS.js"></script>

