﻿
@using TruckWash.Resources.Customer
@model IEnumerable<TruckWash.Models.Customer>
@{
    ViewBag.Title = "ListCustomerNotActive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customer">
    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @TruckWash.Resources.Invoice.InvoiceOurCompanyInvoicesText.Sortbyname
        </button>
        <a href="@Url.Action("SubIndex","Customer")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list">
                @foreach (var item in Model)
            {

                    <a href="@Url.Action("CustomerActive", "Customer", new {id = item.IdCustomer})">
                        <div class="col-md-12">
                            <div class="thumbnail">
                                <li>
                                    <h3 class="name">@item.FirstName @item.LastName @item.CompanyName </h3>

                                    <p class="email"><strong>@GetAllCustomerActiveText.Email</strong> @item.Email</p>
                                    <p class="phone"><strong>@GetAllCustomerActiveText.Phone</strong> @item.Phone</p>
                                    <p class="gsm"><strong>@GetAllCustomerActiveText.Gsm</strong> @item.Gsm</p>
                                    <p class="btwnumber"><strong>@GetAllCustomerActiveText.BtwNumber</strong> @item.BtwNumber</p>
                                </li>
                            </div>
                        </div>
                    </a>

                }


            </ul>
        </div>

        <div class="col-md-6">
        </div>

    </div>

</div>

<script src="http://listjs.com/no-cdn/list.js"></script>
