﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Customer
@model IEnumerable<TruckWash.Models.Customer>
@{
    ViewBag.Title = "GetAllCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customer">
    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @TruckWash.Resources.Invoice.InvoiceOurCompanyInvoicesText.Sortbyname
        </button>
        <a href="@Url.Action("SubIndex","Customer")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i>  @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list">
                @foreach (var item in Model)
            {

                <a href="@Url.Action("Details", "Customer", new {id = item.IdCustomer})">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            <li>
                                <h3 class="name">@TruckWash.Resources.Customer.GetAllCustomerText.FirstName @TruckWash.Resources.Customer.GetAllCustomerText.LastName @TruckWash.Resources.Customer.GetAllCustomerText.CompanyName</h3>
                                <p class="email">@TruckWash.Resources.Customer.GetAllCustomerText.Email</p>                              
                                <p class="phone">@TruckWash.Resources.Customer.GetAllCustomerText.Phone</p>                 
                                <p class="gsm">@TruckWash.Resources.Customer.GetAllCustomerText.Gsm</p>                               
                                <p class="btwnumber">@TruckWash.Resources.Customer.GetAllCustomerText.BtwNumber</p>
                                <p class="discount">@TruckWash.Resources.Customer.GetAllCustomerText.Discount</p>
                            </li>
                        </div>
                    </div>
                </a>

                }

            
            </ul>
        </div>

        <div class="col-md-6">
        </div>

    </div>

</div>

<script src="http://listjs.com/no-cdn/list.js"></script>
