﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Invoice
@model IEnumerable<TruckWash.Models.Invoice>

@{
    ViewBag.Title = "GetInvoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="invoices">
    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @InvoiceOurCompanyInvoicesText.Sortbyname
        </button>
        <a href="@Url.Action("SubIndex","Customer")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list">

                @foreach (var item in Model)
                {
                    <a href="@Url.Action("PdfDetails","Invoices", new {id= item.IdInvoice})">
                        <div class="col-md-12">
                            <div class="thumbnail">

                                <li>
                                    <h3 class="name">
                                        @item.WashTurn.Vehicle.Customer.CompanyName @item.WashTurn.Vehicle.Customer.LastName
                                    </h3>
                                    <p class="date"><strong>@InvoiceTextList.InvoiceDate</strong>@item.DateInvoice</p>
                                    <p class="licensplate"><strong>@InvoiceTextList.LicensePlate</strong>@item.WashTurn.Vehicle.LicensePlate</p>
                                    <strong><p class="text-center" style="font-size: large" >@InvoiceTextList.ClickToDownload</p></strong>
                                </li>

                            </div>
                        </div>
                    </a>
                }
            </ul>
       
        </div>
    </div>

</div>

<script src="http://listjs.com/no-cdn/list.js"></script>
