﻿
@using TruckWash.Resources.Customer
@model IEnumerable<TruckWash.Models.Vehicle>
@{
    ViewBag.Title = "GetVehicleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="vehicle">


    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="Merk">
            @TruckWash.Resources.Invoice.InvoiceOurCompanyInvoicesText.Sortbyname
        </button>
        <a href="@Url.Action("SubIndex","Customer")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list">
                @foreach (var item in Model)
                {


                    <div class="col-md-12">
                        <div class="thumbnail">
                            <li>
                                <h3 class="Merk">

                                    @item.Merk @item.Model @item.Type
                                </h3>
                                <p class="LicensePlate"><strong>@GetVehicleListText.LicensePlate</strong> @item.LicensePlate</p>
                                <p class="Length"><strong>@GetVehicleListText.Length</strong> @item.Length</p>
                                <p class="Remark"><strong>@GetVehicleListText.Remark</strong> @item.Remark</p>

                            </li>
                        </div>
                    </div>


                }


            </ul>
        
        </div>

        <div class="col-md-6">
        </div>

    </div>

</div>

<script src="http://listjs.com/no-cdn/list.js"></script>