﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Customer


@{
    ViewBag.Title = "CustomerAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid text-center">

    <div class="row">

        <a href="@Url.Action("CreateCustomer", "Customer")">
            <div class="col-sm-4">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-plus fa-5x "></i>
                    <br/>
                    @TruckWash.Resources.Customer.SubindexText.New @TruckWash.Resources.Customer.SubindexText.Customer
                </div>
            </div>
        </a>


        @*<a href="@Url.Action("GetAllCustomer", "Customer")">
        <div class="col-sm-4">
            <div class="thumbnail Tegeltje">
                <i class="fa fa-group fa-5x"></i>
                <br/>
                Customers
            </div>
        </div>
    </a>*@

        <a href="@Url.Action("GetAllCustomerActive", "Customer")">
            <div class="col-sm-4">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-users fa-5x"></i>
                    <br />
                    @TruckWash.Resources.Customer.SubindexText.All @TruckWash.Resources.Customer.SubindexText.active @TruckWash.Resources.Customer.SubindexText.customers
                </div>
            </div>
        </a>

        <a href="@Url.Action("GetAllCustomerNotActive", "Customer")">
            <div class="col-sm-4">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-ban fa-5x"></i>
                    <br />
                    @TruckWash.Resources.Customer.SubindexText.All @TruckWash.Resources.Customer.SubindexText.Deblocked @TruckWash.Resources.Customer.SubindexText.customers
                </div>
            </div>
        </a>

        </div>
    </div>

