﻿@using System.Web.UI.WebControls
@using TruckWash.Resources.Customer
@model TruckWash.Models.Customer

@{

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdCustomer)
    @Html.HiddenFor(model => model.AddressID)
    @Html.HiddenFor(model => model.IsActive)
    <div class="form-horizontal container">
        <h4>@UpdateText.Update @UpdateText.Customer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            1.@UpdateText.Customer @UpdateText.Info
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse in">
                    <div class="panel-body">
                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.FirstName, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.LastName, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.Street, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.Street, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.Address.Street, "", new {@class = "text-danger"})
                            </div>
                        </div>



                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.HouseNumber, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.HouseNumber, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.Address.HouseNumber, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.NumberExtension, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.NumberExtension, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.Address.NumberExtension, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <!-- Search input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.PostalCode, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.PostalCode, new {htmlAttributes = new {@class = "form-control input-md",  id = "postalCode"}})
                                @Html.ValidationMessageFor(model => model.Address.PostalCode, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(UpdateText.City, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Address.City, new {htmlAttributes = new {@class = "form-control input-md",  id = "cityName"}})
                                @Html.ValidationMessageFor(model => model.Address.City, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.Discount, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Discount, new {htmlAttributes = new {@class = "form-control input-md", @Value = "0"}})
                                @Html.ValidationMessageFor(model => model.Discount, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            2.@UpdateText.Company @UpdateText.Info
                        </a>
                    </h4>

                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.CompanyName, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.CompanyName, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new {@class = "text-danger"})
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.BtwNumber, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.BtwNumber, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.BtwNumber, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            3.@UpdateText.Contact @UpdateText.Info
                        </a>
                    </h4>
                </div>

                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.Phone, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Phone, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.Phone, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.Gsm, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Gsm, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.Gsm, "", new {@class = "text-danger"})
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            @Html.Label(UpdateText.Email, new {@class = " col-md-3 control-label"})
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control input-md"}})
                                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group">
  
                        <div class="col-md-8 col-md-offset-3">
                            <button name="Save" type="submit" class="container btn btn-default col-md-3">@UpdateText.Save</button>
                            <a href="@Url.Action("SubIndex", "Customer")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@UpdateText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    
}