﻿@using TruckWash.Resources.WashTypeExtra
@model TruckWash.Models.WashTypeExtra

@{
    ViewBag.Title = "Delete";
}



<h3>@WashTypeExtraDeleteText.AreYouSure</h3>
<div>
    <h4>WashTypeExtra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(WashTypeExtraDeleteText.WashTypeExtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashtypeExtraName)
        </dd>

        <dt>
            @Html.DisplayName(WashTypeExtraDeleteText.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@WashTypeExtraDeleteText.Delete" class="btn btn-danger" /> |
           @Html.ActionLink(WashTypeExtraDeleteText.BackToList,"SubIndex", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
