﻿
@using TruckWash.Resources.WashTypeExtra
@model TruckWash.Models.WashTypeExtra

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @WashTypeExtraCreateEditText.WashTypeExtra
                </h4>
            </div>


            <div class="panel-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdWashTypeExtra)

                <div class="form-group">
                    @Html.Label(WashTypeExtraCreateEditText.WashTypeExtraName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.WashtypeExtraName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WashtypeExtraName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(WashTypeExtraCreateEditText.Price, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">

                        <div class="col-md-offset-3 col-md-8">
                            <button id="Save" name="Save" type="submit" class="container btn btn-default col-md-3">@WashTypeExtraCreateEditText.Save</button>
                            <a href="@Url.Action("SubIndex", "WashTypeExtras")" class="btn btn-danger btn btn-default col-md-3 col-md-offset-1 ">@WashTypeExtraCreateEditText.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        }
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
