﻿@using TruckWash.Resources.WashTypeExtra
@model IEnumerable<TruckWash.Models.WashTypeExtra>

@{
    ViewBag.Title = "SubIndex";
}


<div class="row">
    <a href="@Url.Action("SubIndex", "WashTurns")" class="btn btn-primary col-md-3 backButtonList">
        <i class="fa fa-hand-o-right"></i> @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
    </a>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayName(WashTypeExtraText.WashTypeExtraName)
            </th>
            <th>
                @Html.DisplayName(WashTypeExtraText.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WashtypeExtraName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink(WashTypeExtraText.Edit, "Edit", new {id = item.IdWashTypeExtra}, new {@class = "btn btn-info "}) |
                    @Html.ActionLink(WashTypeExtraText.Delete, "Delete", new {id = item.IdWashTypeExtra}, new {@class = "btn btn-danger "})
                </td>
            </tr>


        }

    </table>
</div>
