﻿@model TruckWash.Models.LoginLog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoginLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lastworkdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastworkdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastworklocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastworklocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.FirstName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
           @Html.ActionLink("Back to sub index", "SubIndex", null, new { @class = "btn btn-default" })
    }
</div>
