﻿@using TruckWash.Resources.LoginLogs;
@model TruckWash.Models.LoginLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    @LoginLogsDetailsText.Loginlogdetails
                </a>
            </h4>
        </div>


        <div class="panel-body">


                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName(LoginLogsDetailsText.Lastworkdate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Lastworkdate)
                    </dd>

                    <dt>
                        @Html.DisplayName(LoginLogsDetailsText.Locationname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location.LocationName)
                    </dd>

                    <dt>
                        @Html.DisplayName(LoginLogsDetailsText.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Location.Address.Street) @Html.DisplayFor(model => model.Location.Address.HouseNumber) @Html.DisplayFor(model => model.Location.Address.NumberExtension)
                    </dd>

                    <dd>
                        @Html.DisplayFor(model => model.Location.Address.PostalCode) @Html.DisplayFor(model => model.Location.Address.City)
                    </dd>

                    <dt>
                        @Html.DisplayName(LoginLogsDetailsText.Firstname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Staff.FirstName)
                    </dd>

                </dl>
            </div>
        </div>
        <div>
            <div>
                @Html.ActionLink(@LoginLogsDetailsText.Backtosubindex, "SubIndex", null, new {@class = "btn btn-default" })
            </div>
     

        </div>
    </div>
