﻿@using TruckWash.Resources.LoginLogs
@model IEnumerable<TruckWash.Models.LoginLog>
@{
    ViewBag.Title = "SearchList";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}


<div id="loginLog">

    <div class="row">
        <input class="search" placeholder="Search" />
        <button class="btn btn-success sort " data-sort="name">
            @LoginLogsSearchListText.Sortbyname
        </button>
        <a href="@Url.Action("SubIndex","LoginLogs")" class="btn btn-primary col-md-3 backButton ">
            <i class="fa fa-hand-o-right"></i>  @TruckWash.Resources.BackToIndex.BackToIndexText.BackToSubIndex
        </a>
    </div>

    <div class="row">
        <div class="col-md-6">

            <ul class="list">

                @foreach (var item in Model)
            {

                    <a href="@Url.Action("Details", "LoginLogs", new {id = item.IdLoginLog})">
                        <div class="col-md-12">
                            <div class="thumbnail">

                                <li>
                                    <p><h3 class="name">@item.Staff.LastName</h3></p>
                                    <h3 class="firstname">@item.Staff.FirstName</h3>
                                    <p class="workdate">@LoginLogsSearchListText.LastWorkDate @item.Lastworkdate</p>
                                    <p class="location">@LoginLogsSearchListText.Location @item.Location.LocationName</p>
                                </li>

                            </div>
                        </div>
                    </a>

                }

            </ul>
            </div>
        </div>
</div>




<script src="http://listjs.com/no-cdn/list.js"></script>
