﻿@using TruckWash.Resources.OurCompany
@{
    ViewBag.Title = "SubIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid text-center">

    <div class="row">

        <div class="col-sm-4">
            <a href="~/LoginLogs/ActiveSearchList">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-book fa-5x"></i>
                    <i class="fa fa-search fa-5x"></i>
                    <p>@OurCompanySubIndexText.Searchactivestaffloginhistory</p>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a href="~/LoginLogs/DeactiveSearchList">
                <div class="thumbnail Tegeltje">
                    <i class="fa fa-book fa-5x"></i>
                    <i class="fa fa-search fa-5x"></i>
                    <p>@OurCompanySubIndexText.Searchdeactivestaffloginhistory</p>
                </div>
            </a>
        </div>
         
    </div>

</div>